* {
  margin: 0;
  padding: 0;
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #0a0a0a 50%, #1a1a1a);
  min-height: 100vh;
}

header {
  text-align: center;
  display: flex;
    justify-content: space-around;
  padding: 30px 0;
  background: rgba(20, 20, 20, 0.9);
  border-bottom: 1px solid #08e8de;
  box-shadow: 0 4px 20px rgba(203, 239, 63, 0.1);
}


header nav ul {
    display: flex;
    justify-content: center;
    gap: 15px;
}

header nav ul  li{
    list-style: none;
}

header nav ul  li a{
  text-decoration: none;
}

header nav ul  li:hover{
    color: #08e8de;
}


header h2 {
  color: #08e8de;
  font-size: 2rem;
}


main {
  text-align: center;
  margin-top: 60px;
}

main > h3 {
  color: #f5f5f5;
  font-size: 1.8rem;
  margin-bottom: 30px;
}


.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 20px;
}


.option {
  width: 300px;
  height: 220px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #151515;
  transition: all 0.4s ease;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}


.option.bulking {
  border: 2px solid #8bf7b3;
}
.option.bulking:hover {
  transform: scale(1.08);
  background: rgba(66, 96, 85, 0.5);
  box-shadow: 0 0 25px rgba(0, 255, 162, 0.5)
}


.option.cutting {
  border: 2px solid #81eded;
}
.option.cutting:hover {
  transform: scale(1.08);
  background: #162f2f;
  box-shadow: 0 0 25px #a0fbfb;
}


.option h2 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 1.6rem;
}

.option p {
  font-size: 1rem;
  color: #dcdcdc;
}

/* Responsive Design */
@media (max-width: 700px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .option {
    width: 80%;
  }
}


#formSection{
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 500px;
  margin: auto;
  margin-top: 40px;
  background-color: #1c1c1c;
  border-radius: 10px;
}

#userForm{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 400px;
  margin: auto;
  
  padding-bottom: 20px;
}

#userForm label {
  color: #fff;
  font-weight: 600;
  text-align: left;
}

#userForm input,
#userForm select {
  color: #0a0a0a;
  background-color: #e0e0e0;
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-size: 1rem;
}

#userForm select option {
  color: #0a0a0a;
  background-color: #e0e0e0;
 background-color: #888888;
}

#formTitle{
  padding: 20px;
}

.Btn-form{
  text-align: center;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  width: 70px;
  color: #000000;
  background-color: #8bf7b3;
}

.Btn-form a{
  text-decoration: none;
  color: #000000;
}

.btn-form-container{
  text-align: center;
}

#loginSection {
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 500px;
  margin: auto;
  margin-top: 40px;
  background-color: #1c1c1c;
  border-radius: 10px;
  border: 2px solid #81eded; 
  box-shadow: 0 0 25px #a0fbfb;
}

#loginForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding-bottom: 20px;
}

#loginForm label {
  color: #fff;
  font-weight: 600;
  text-align: left;
}

#loginForm input {
  color: #0a0a0a;
  background-color: #e0e0e0;
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-size: 1rem;
}

#loginTitle {
  padding: 20px;
  color: #08e8de;
  font-weight: 600;
  font-size: 1.5rem;
}
